@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/fonts.scss";
@import "./scss/scrollbar.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

